*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --color-1: #16213e;
  --color-2: #0f3460;
  --color-3: #533483;
  --color-4: #e94560;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-1);
  color: var(--color-4);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header */

header {
  padding: 3.2rem 6.4rem;
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: inherit;
  border: #e94560 3px solid;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.3s;
}

nav a:hover {
  background-color: var(--color-4);
  color: var(--color-1);
}
/* main */

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.title {
  align-self: center;
  font-size: 3.2rem;
  text-decoration: underline;
}

.options {
  display: flex;
  justify-content: space-evenly;
}

.option {
  background-color: var(--color-4);
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.option:hover {
  transform: scale(1.2);
}

.option p {
  color: whitesmoke;
  font-size: 2.4rem;
  font-weight: 700;
}

.pointTable {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-bottom: 3rem;
}

.playerPoints {
  font-size: 2.4rem;
}
.computerPoints {
  font-size: 2.4rem;
}
.Win {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

/* footer */
footer {
  padding: 1rem;
  align-self: center;
  font-size: 1.2rem;
}
